@import "../../../styles/colors";
@import "../../../styles/buttons";

.inputInvalid {
  border-color: $danger !important;
}

.serviceInvalid {
  color: $danger !important;
}

.form {
  &__wrapper {
    padding: 42px;

    h3 {
      font-size: 1.25rem;
    }
  }

  &__title {
    font-family: SF, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: $white;

    margin-bottom: 42px;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    color: $grayI;

    margin-bottom: 2rem;
  }

  &__services {
    display: flex;
    gap: 1.5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 42px;

    button {
      width: 31%;
      padding: 1rem;
      border: 1px solid $grayIII;
      border-radius: .5rem;
      background-color: $black;

      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2;
      color: $grayI;

      transition: all 300ms linear;
    }

    .service-selected {
      border-color: $white;
      background-color: $white;
      color: $black;
      font-weight: 500;
    }
  }

  &__personal-data {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 42px;

    &-item {
      width: 48%;

      label {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }

      input {
        width: 100%;

        padding: 1rem;
        border: 1px solid $grayIII;
        border-radius: .5rem;
        background-color: $black;

        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
        color: $grayI;

        transition: all 300ms linear;
      }

      input:focus {
        box-shadow: none;
        border-color: $grayI;
        outline: none;
      }
    }
  }

  &__budget {
    margin: 16px 0 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    &-title {
      margin-bottom: 1rem;
    }

    label {
      width: 18%;
      padding: 1rem;
      border: 1px solid $grayIII;
      border-radius: .5rem;
      background-color: $black;

      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
      color: $grayI;

      transition: all 300ms linear;
    }

    label:has(input:checked) {
      border-color: $white;
      background-color: $white;
      color: $black;
      font-weight: 400;
    }

    input[type="radio"] {
      display: none;
    }
  }

  &__details {
    h3 {
      margin-bottom: 1.5rem;
    }

    textarea {
      resize: none;
      display: block;
      padding: 1rem 1.5rem;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 114px;
      border: 1px solid $grayIII;
      border-radius: .5rem;
      background-color: $black;
      color: $grayI;
      transition: all 300ms linear;
    }

    textarea:focus {
      box-shadow: none;
      border-color: $grayI;
      outline: none;
    }
  }

  &__submit {
    transition: all 300ms linear;

    @extend .black-gradient-button;
    border: none;
    background: none;
    width: 100%;
  }

  &__submit:not(:disabled){
    @extend .white-gradient-button;
    border: none;
    background: none;
    width: 100%;
  }
}


@media (max-width: 992px) {
  .form {
    &__services {
      button {
        width: 48%;
      }
    }

    &__personal-data {
      gap: 1.5rem;

      &-item {
        width: 48%;
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    &__budget {
      label {
        width: 48%;
      }
    }
  }
}


@media (max-width: 690px) {
  .form {
    &__services {
      button {
        width: 100%;
      }
    }

    &__personal-data {
      flex-wrap: wrap;

      &-item {
        width: 100%;
      }
    }
  }
}


@media (max-width: 576px) {
  .form {
    &__wrapper {
      padding: 42px 24px;
    }

    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }

    &__services {
      row-gap: 1.5rem;

      button {
        width: 100%;
      }
    }

    &__budget {
      &-title {
        text-align: center;
        margin-bottom: 2rem;
      }

      label {
        width: 100%;
      }
    }
  }
}
