@import "../../../styles/colors";

.work {
  &__wrapper {
    position: relative;
  }

  &__image {
    img {
      width: 100%;
      clip-path: polygon(0 0, 0 100%, 25% 100%, 50% 60%, 50% 100%, 100% 100%, 100% 0);
    }
  }

  &__title {
    background-color: $black;
    position: absolute;
    top: 0;
    right: 0;

    height: 60%;
    width: 50%;
    padding-inline: 3rem;
    padding-bottom: 42px;

    display: flex;
    align-items: end;

    h1 {
      font-family: SF, sans-serif;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem;
      color: white;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      padding: 0.75rem 1.5rem;
      background-color: $grayIII;
      border: 1px solid $grayIII;
      border-radius: .5rem;
      cursor: pointer;

      max-width: 170px;
      width: auto;

      a {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
        color: $grayI;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }
}


@media (max-width: 767px) {
  .work {
    &__wrapper {
    }

    &__title {
      position: static;
      height: auto;
      width: auto;
      margin: 42px 28px;
    }

    &__image {
      img {
        clip-path: none;
        height: 446px;
        object-fit: cover;
        object-position: left center;
      }
    }
  }
}

@media (max-width: 576px) {
  .work {
    &__wrapper {

    }

    &__image {
      img {

      }
    }

    &__title {
      h1 {
        font-size: 2.25rem;
      }

      &-button {
        max-width: 140px;

        a {
          font-size: 13px
        }

        i {
          font-size: 14px;
        }
      }
    }
  }
}
