<app-container>
  <div right>
    <div class="banner__posts w-12 md:w-11 mx-auto md:my-5 grid grid-nogutter">
      @for (p of posts; track $index){
        <div (click)="navigateToCourse(p.id)" class="border-bottom-1 border-gray md:border-bottom-none cursor-pointer
                    col-12 md:col-6 lg:col-4 md:px-2 lg:px-3 lg:py-4">
          <div class="flex flex-column justify-content-between h-auto w-11 md:w-12 mx-auto my-3">
            <div>
              <app-tag-label [icon]="p.icon" [text]="p.category"/>
              <h2 class="text-2xl text-white font-medium line-height-2 mt-2 mb-5">{{p.title}}</h2>
            </div>

            <div class="banner__posts-image">
              <img loading="lazy" src="{{p.image}}" alt="blog post image">
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-container>
