<section>
  <div class="main-banner__wrapper">
    <div class="main-banner__text-part">
      <div class="main-banner__title1">{{ textConfig.title1 }}</div>
      <div class="main-banner__title2">{{ textConfig.title2 }}</div>
      <p class="main-banner__subtitle">{{ textConfig.subtitle }}</p>

      <div class="main-banner__button">
        <app-call-now-button/>
      </div>

      <div class="main-banner__metrics">
        <div class="main-banner__metrics-item">
          <span class="main-banner__metrics-percent">{{ textConfig.percent1 }}</span>
          <span class="main-banner__metrics-text">{{ textConfig.metric1 }}</span>
        </div>

        <div class="main-banner__metrics-item">
          <span class="main-banner__metrics-percent">{{ textConfig.percent2 }}</span>
          <span class="main-banner__metrics-text">{{ textConfig.metric2 }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
