<section>
  <div class="cookie__wrapper">
    <div class="cookie-banner px-3 py-4 md:p-4 lg:p-5 bg-black border-1 border-gray border-round-lg shadow-2 fixed bottom-0 left-0 right-0 mx-auto w-full">
      <h2 class="text-white text-2xl mb-4">This website uses cookies</h2>
      <div class="text-area">
        <p class="text-white text-base font-light line-height-2 mb-4 h-8rem overflow-auto">
          We use cookies to personalise content and ads, to provide social media features and to analyse our traffic.
          We also share information about your use of our site with our social media, advertising, and analytics partners
          who may combine it with other information that you've provided to them or that they've collected from your use of their services.
          Click "Manage cookies" if you would like to read more about our cookies and adjust your preferences. By clicking "Accept and continue",
          you agree to the use of all cookies as described in our
          <a target="_blank" href="#" class="font-light underline">Cookie declaration</a>.
        </p>
      </div>

      <div class="flex flex-column sm:flex-row gap-3 font-light">
        <a class="black-gradient-button sm:w-6">Manage cookies</a>
        <a class="white-gradient-button sm:w-2">Decline</a>
        <a class="white-gradient-button sm:w-4">Accept and continue</a>
      </div>
    </div>
  </div>
</section>
