//------------ overwrite p-carousel ------------
.p-carousel-indicator {
  display: none;
}

.p-ripple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-carousel-prev {
  margin-right: 1rem;
}

.p-carousel-next {
  margin-left: .5rem;
}

@media (max-width: 767px) {
  .p-ripple{
    display: none;
  }
}
