<div id="contact-with-us">
  <app-container class="hidden md:block">
    <div right>
        <p class="text-36 margins text-white font-fam-sf font-medium line-height-2">Lets work together</p>
    </div>
  </app-container>
  <app-container>
    <div right>
      <div class="flex flex-column md:flex-row justify-content-between gap-4 align-items-center margins2">
        <p class="w-10 md:w-auto text-center md:text-left font-fam-sf text-white text-2xl line-height-2">
          Let’s talk on a free consultation call.
        </p>
        <div class="w-auto">
          <app-call-now-button/>
        </div>
      </div>
    </div>
  </app-container>
</div>
