@import '../../../../styles/colors';

.sidebar__wrapper {
  nav a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;

    border-bottom: 1px solid $grayIII;
  }
}

.h90 {
  height: 95vh;
}
