<div class="value__wrapper md:h-17rem xl:h-19rem border-bottom-1 sm:border-right-1 border-gray">
  <div class="w-11 md:w-12 mx-auto py-5 md:px-6 md:py-4">
    <div class="mb-3 md:mb-2 flex gap-2 flex-row md:flex-column align-items-center  md:align-items-start">
      <i class="inline-block text-gradient text-4xl {{icon}}"></i>
      <p
        class="inline-block font-fam-sf text-white font-light md:font-normal text-sm md:text-2xl line-height-2">
        {{ title }}
      </p>
    </div>
    <p class="font-light line-height-2 text-sm md:text-base">{{ text }}</p>
  </div>
</div>
