@import '../node_modules/primeflex/primeflex.scss';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'fonts';
@import 'colors';
@import 'nullstyle';
@import 'buttons';
@import "links";
@import 'overwrite';
@import 'custom-elements-colors.scss';
@import 'section-animation.scss';

body {
  font-family: Saans, sans-serif;
  background-color: $black;
  color: $grayI;
  font-size: 1rem;
  line-height: 1.16rem;
}
