<div class="privacy__container animation">
  <app-container>
    <div left class="border-top-1 border-gray"></div>
    <div right>
      <div class="privacy__wrapper border-top-1 border-gray ">
        <div class="w-11 md:w-12 mx-auto md:px-5 my-5 md:my-6">
          <p class="font-fam-sf text-2xl md:text-4xl line-height-2 text-white mb-3 mt-2">{{ data.title }}</p>
          <p class="text-sm md:text-base text-grayI line-height-2 font-light mb-4">{{ data.text }}</p>
        </div>
      </div>
    </div>
  </app-container>
</div>
