<div class="card">
  <p-toast></p-toast>

  <p-table
    #dt
    [value]="exhibits"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['name', 'author', 'created_date', 'materials']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedExhibits"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          <p-button
            severity="success"
            label="New"
            icon="pi pi-plus"
            class="mr-2"
            (onClick)="openNew()" />
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      #globalFilterInput
                      (input)="dt.filterGlobal(globalFilterInput.value, 'contains')"
                      placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width:15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="author">
          Author <p-sortIcon field="author"></p-sortIcon>
        </th>
        <th pSortableColumn="created_date">
          Created Date <p-sortIcon field="created_date"></p-sortIcon>
        </th>
        <th pSortableColumn="materials">
          Materials <p-sortIcon field="materials"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exhibit>
      <tr>
        <td>
          {{ exhibit.name }}
        </td>
        <td>
          {{ exhibit.author }}
        </td>
        <td>
          {{ exhibit.created_date | date:'mediumDate' }}
        </td>
        <td>
          {{ exhibit.materials }}
        </td>
        <td>
          @if (userRole) {
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                severity="success"
                (onClick)="editExhibit(exhibit)" />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (onClick)="deleteExhibit(exhibit)" />
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ exhibits ? exhibits.length : 0 }} exhibits.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="exhibitDialog"
    [style]="{ width: '450px' }"
    header="Exhibit Details"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="exhibit.name"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !exhibit.name">
          Name is required.
        </small>
      </div>
      <div class="field">
        <label for="author">Author</label>
        <input
          type="text"
          pInputText
          id="author"
          [(ngModel)]="exhibit.author"
          required />
        <small class="p-error" *ngIf="submitted && !exhibit.author">
          Author is required.
        </small>
      </div>
      <div class="field">
        <label for="created_date">Created Date</label>
        <p-calendar
          id="created_date"
          [(ngModel)]="exhibit.created_date"
          dateFormat="yy-mm-dd">
        </p-calendar>
        <small class="p-error" *ngIf="submitted && !exhibit.created_date">
          Created Date is required.
        </small>
      </div>
      <div class="field">
        <label for="materials">Materials</label>
        <textarea
          id="materials"
          pInputTextarea
          [(ngModel)]="exhibit.materials"
          required
          rows="3"
          cols="20">
                    </textarea>
        <small class="p-error" *ngIf="submitted && !exhibit.materials">
          Materials are required.
        </small>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="exhibit.description"
          required
          rows="3"
          cols="20">
        </textarea>
        <small class="p-error" *ngIf="submitted && !exhibit.description">
          Description are required.
        </small>
      </div>
      <div class="field">
        <label for="condition">Condition</label>
        <input
          id="condition"
          pInputText
          [(ngModel)]="exhibit.condition"
          required
         >
        <small class="p-error" *ngIf="submitted && !exhibit.condition">
          Condition are required.
        </small>
      </div>
      <div class="field">
        <label for="restoration_history">Restoration History</label>
        <textarea
          id="restoration_history"
          pInputTextarea
          [(ngModel)]="exhibit.restoration_history"
          required
          rows="3"
          cols="20">
        </textarea>
        <small class="p-error" *ngIf="submitted && !exhibit.restoration_history">
          Materials are required.
        </small>
      </div>
      <div class="field">
        <label for="location">LocationId</label>
        <p-inputNumber
          id="location"
          [(ngModel)]="exhibit.location_id"

          [min]="1"
          [useGrouping]="false">
        </p-inputNumber>
        <small class="p-error" *ngIf="submitted && !exhibit.location_id">
          LocationId is required.
        </small>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        (onClick)="hideDialog()" />
      <p-button
        label="Save"
        icon="pi pi-check"
        (onClick)="saveExhibit()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
